@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: green;
    color: whitesmoke;
    line-height: 1.5;
}


#navbar{
  position: fixed; 
  top: 0px; 
  left: 0px; 
  width: 21rem; 
  height: 100%; 
  border: 1px solid whitesmoke; 
  overflow-y: scroll; 
  text-transform: uppercase;
  
}

header{
    font-size: 2rem;
    margin: 1rem;  
    text-align: center; 
}

header:hover{
    font-style: oblique;
    color: goldenrod; 
}

.nav-link{
   padding: 4px; 
   text-decoration: none; 
   cursor: pointer;
   color: whitesmoke;
   
   
}

#navbar li{
    font-family: inherit;
    list-style: none;
     
    padding:  1em; 
    border: 1px solid; 
    position: relative; 
    margin-right: 20px; 
    font-size: 20px; 
    border-radius: 2px;
    box-shadow: 5px 5px 5px goldenrod;
}

#navbar li:hover{
    font-style: oblique;
    color: goldenrod; 
}


#main-doc{
    position: absolute;
    left: 22rem;
    padding: 2rem; 
    margin-bottom: 6rem;
  
}


section article{
    margin: 1.8rem; 
    font-size: 20px;
    font-family: inherit;  
    
}

section header{
    text-align: left;
    margin-left: 0;
    text-transform: uppercase;
}

section:hover{
    font-style: oblique;
    color: goldenrod;
}

section li{
    margin: 15px 0px 0px 20px;
}
code{
    font-size: 16px;
    display: block; 
    text-align: left;
    position: relative;
    white-space: nowrap;
    background-color: black;
    white-space: pre; 
    word-break: normal; 
    word-wrap: normal;
    margin: 2rem; 
    padding: 1rem; 
    box-shadow: 5px 5px 5px 5px goldenrod;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 5px 5px goldenrod;
  }
  th, td {
    padding: 1px;
  }


  @media only screen and (max-width: 300px) {
    #main-doc {
      margin-left: -8px;
    }
  
    code {
      margin-left: 0.5rem;
      font-size: 18px; 
      padding: 10px 15px 10px 15px;
      max-width: 100%;
      min-width: 250px;
    }
  }